<!DOCTYPE html>
<html>
  <head>
    <title>Budges App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <main class="max-w-sm h-screen md:border-2 border-main mx-auto overflow-hidden">
      <% flash.each do |type, msg| %>
        <div class="font-proxima-light alert notice alert-success bg-amber-200 rounded-br rounded-bl px-5 py-3 text-center" role="alert">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
